altair                
argon2-cffi           
argon2-cffi-bindings  
asttokens             
attrs                 
backcall              
beautifulsoup4        
bleach                
blinker               
cachetools            
certifi               
cffi                  
charset-normalizer    
click                 
colorama              
commonmark            
cssselect             
cvxpy                 
cycler                
dateparser            
dateutils             
debugpy               
decorator             
defusedxml            
ecos                  
entrypoints           
executing             
fastjsonschema        
feedfinder2           
feedparser            
filelock              
fonttools             
gitdb                 
GitPython             
GoogleNews            
idna                  
importlib-metadata    
ipykernel             
ipython               
ipython-genutils      
ipywidgets            
jedi                  
jieba3k               
Jinja2                
joblib                
jsonschema            
jupyter-client        
jupyter-core          
jupyterlab-pygments   
jupyterlab-widgets    
kiwisolver            
lxml                  
MarkupSafe            
matplotlib            
matplotlib-inline     
mistune               
multitasking          
nbclient              
nbconvert             
nbformat              
nest-asyncio          
newspaper3k           
nltk                  
notebook              
nsepy                 
nsetools              
numpy                 
osqp                  
packaging             
pandas                
pandas-ta             
pandocfilters         
parso                 
pickleshare           
Pillow                
pip                   
plotly                
prometheus-client     
prompt-toolkit        
protobuf              
psutil                
pure-eval             
pyarrow               
pycparser             
pydeck                
Pygments              
Pympler               
pyparsing             
pyportfolioopt        
pyrsistent            
PySocks               
python-dateutil       
pytz                  
pytz-deprecation-shim 
pywin32               
pywinpty              
PyYAML                
pyzmq                 
qdldl                 
regex                 
requests              
requests-file         
rich                  
scipy                 
scs                   
seaborn               
semver                
Send2Trash            
setuptools            
sgmllib3k             
six                   
smmap                 
snscrape              
soupsieve             
stack-data            
streamlit             
tenacity              
terminado             
tinycss2              
tinysegmenter         
tldextract            
toml                  
toolz                 
tornado               
tqdm                  
traitlets             
typing_extensions     
tzdata                
tzlocal               
urllib3               
validators            
watchdog              
wcwidth               
webencodings          
wheel                 
widgetsnbextension    
wordcloud             
yfinance              
zipp                  